---
import SocialList from "@/components/SocialList";
import PageLayout from "@/layouts/Base";

const meta = {
  title: "About",
};
---

<PageLayout meta={meta}>
  <div class="space-y-6">
    <h1 class="title">About</h1>
    <p>
      Hi, I’m Christoffer and I'm a developer. I currently build the world's best car sharing service <a
        href="https://hyre.no"
        target="_blank"
        rel="noreferrer noopener">Hyre</a
      >.
    </p>
  </div>
  <SocialList />
</PageLayout>
