<div class="flex flex-wrap items-center gap-x-4 sm:items-center">
  <p>Find me on</p>
  <ul class="flex flex-1 items-center gap-x-4 sm:flex-initial">
    <li>
      <a
        class="inline-block p-2 sm:hover:text-link"
        href="https://github.com/cristeahub/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg
          class="h-6 w-6"
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          >
          </path>
        </svg>
        <span class="sr-only">Github</span>
      </a>
    </li>
    <li>
      <a class="inline-block p-2 sm:hover:text-link" href="https://mastodon.social/@cton" target="_blank" rel="me">
        <svg
          class="h-6 w-6"
          style={{
            padding: 2,
          }}
          aria-hidden="true"
          focusable="false"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="3 17 28 28"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="m 27.897714,32.529464 c -0.348758,1.79348 -3.122191,3.756098 -6.307809,4.136478 -1.661205,0.198412 -3.29657,0.38038 -5.040537,0.30051 -2.85222,-0.130649 -5.102699,-0.68089 -5.102699,-0.68089 0,0.277741 0.01717,0.542109 0.05132,0.789312 0.370803,2.814634 2.791143,2.98341 5.083725,3.062016 2.313905,0.07915 4.374103,-0.570661 4.374103,-0.570661 l 0.09523,2.092183 c 0,0 -1.618559,0.869002 -4.50168,1.028743 -1.590008,0.08746 -3.56401,-0.03993 -5.863459,-0.648363 -4.9866877,-1.320037 -5.8443054,-6.635604 -5.975496,-12.029235 -0.040116,-1.601393 -0.01536,-3.11153 -0.01536,-4.374284 0,-5.515425 3.6135232,-7.131997 3.6135232,-7.131997 1.8220308,-0.836836 4.9485588,-1.188666 8.1988688,-1.215229 h 0.07987 c 3.250309,0.02656 6.378825,0.378393 8.200856,1.215229 0,0 3.613523,1.616572 3.613523,7.131997 0,0 0.04518,4.069076 -0.503981,6.894191"
          ></path>
          <path
            d="m 9.6976785,24.298466 c 0,-0.802864 0.6508935,-1.453577 1.4535775,-1.453577 0.802864,0 1.453577,0.650713 1.453577,1.453577 0,0.802684 -0.650713,1.453577 -1.453577,1.453577 -0.802684,0 -1.4535775,-0.650893 -1.4535775,-1.453577"
          >
          </path></svg
        >
      </a>
      <span class="sr-only">Mastodon</span>
    </li>
  </ul>
</div>
